/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


/***************************************************************
    MOBILE XS <576px
****************************************************************/


/* HEADER */
body>header{
    width: 10%;
    height: calc(100% - 100px);
    border: 1px solid purple;
    position: fixed;
    background-color: aqua;
}


    /* CALL TO ACTION */

div.call-to-action{
    width: 100%;
    border: 1px solid crimson;
    height: 100px;
}





/* MAIN */

main{
    width: 90vw;
    height: 100vh ;
    border: 1px solid blue;
    overflow: auto;
    position: fixed;
    right: 0;

}

    /* HEADER */



    /* 1 SECTION */



    /* 2 SECTION */



    /* 3 SECTION */




/* TASKBAR */

section.taskbar{
    width: 100%;
    height: 100px;
    background-color: forestgreen;
    position: fixed;
    bottom: 0;
}





/***************************************************************
    MEDIA Sm > min-width: 576px 
****************************************************************/

@media screen and (min-width: 576px) { 
    
}


/***************************************************************
    MEDIA Md > min-width: 768px
****************************************************************/

@media screen and (min-width: 768px) { 
    
}




/***************************************************************
    MEDIA Lg > min-width: 992 px 
****************************************************************/

@media screen and (min-width: 992px) { 
    
}
