/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


/***************************************************************
    MOBILE XS <576px
****************************************************************/
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.space-between{
    justify-content: space-between;
}

.flex-end{
    justify-content: end;
}



/* HEADER */
body div.wrapper header{
    width: 60px;
    height: calc(100vh - 90px);
    background-color: black;
}

header img{
    width: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0.25rem;
}

.display-none,
.none{
    display: none;
}

.background{
    background-color: gray;
    border-radius: 50px;
}

.white,
.uppercase,
section.recently-played h3,
section.creato-per h3,
section.recently-played h4,
section.creato-per h4,
section.artisti-popolari h3{
    color: white;
}

/* MAIN */


 /* CALL TO ACTION */

 section.call-to-action{
    width: 100%;
    background-color:rgb(8, 11, 18);
    height: 70px;
}

section.call-to-action button.black-button{
    text-align: right;
    background-color: black;
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 50px;
    margin-right: 1rem;
}


.wrapper{
    display: flex;
    flex-wrap: wrap;
}

main{
    width: calc(100vw - 60px);
    height: calc(100vh - 90px) ;
    overflow: auto;
    background-color: rgb(20, 25, 34);
}

    header span,
    header p,
    section.taskbar span,
    ul,
    section.recently-played p,
    section.creato-per span,
    section.artisti-popolari span,
    footer.taskbar div.flex p:not(.white){
    color: rgb(126, 126, 126);
    }

    section.recently-played p,
    section.creato-per span,
    section.artisti-popolari span{
        font-size: 0.7rem;
    }

    /* CENTRAL HEADER */

    main div.central-header ul,
    .uppercase{
        text-transform: uppercase;
        margin: 1rem;
    }

    ul{
        list-style: none;
    }

    .central-header{
        width: 86%;
        font-size: small;  
    }

    main div.central-header ul li{
        margin-right: 1rem;
    }


    .border-b-main{
        border-bottom: 3px solid lime;
        width: 50%;
        position: relative;
        left: 20px;
        
    }


    /* 1 SECTION RECENTLY PLYED */

    section.recently-played,
    section.creato-per,
    section.artisti-popolari{
        padding: 1rem;
    }
    .s-container{
        width: 90%;
        align-items: self-start;
    }

    section.recently-played img,
    section.creato-per img,
    section.artisti-popolari img{
        width: 100% ;
        padding-right: 0.5rem;
    }

    .column-width,
    .creato-per-column-width{
        width: calc(100% / 2);
        align-items: stretch;
    }

    section.recently-played h4,
    section.recently-played p,
    section.creato-per h4,
    section.creato-per p,
    section.artisti-popolari h4,
    section.artisti-popolari p{
        text-align: center;
    }

    /* 2 SECTION CREATO*/

    section.recently-played div>h3,
    section.creato-per>span,
    section.creato-per>h3,
    section.artisti-popolari>h3,
    section.artisti-popolari>span {
        padding-left: 0.5rem;

    }

    main p{
        padding: 0.5rem 0;
    }

    /* 3 SECTION ARTISTI */

    section.artisti-popolari img{
        border-radius: 50%;
    }


/* TASKBAR */

footer.taskbar{
    width: 100%;
    height: 90px;
    background-color:rgb(40, 40, 40);
    position: fixed;
    bottom: 0;
}

footer.taskbar img{
    width: 50px;
}


.border-footer{
    width: 100%;
}

.white-footer{
    border: 4px solid white;
    width: 20%;
}

.grey-footer{
    border: 4px solid rgb(90, 90, 90);
    width: 50%;
}


.width-3{
    width: calc(100vw / 3);
}


footer.taskbar div.flex-start img{
    padding-left: 0.5rem;
}

.fa-heart,
.fa-folder
{
    padding-left: 3.5rem;
}

footer div.border-footer span:first-child{
    padding-right: 1rem;
}

footer div.border-footer span:last-child{
    padding-left: 1rem;
}

.fa-shuffle,
.fa-backward-step,
.fa-circle-play,
.fa-forward-step,
.fa-rotate-right{
    font-size: 25px;
    padding: 0.5rem 0.5rem;
}

.fa-list,
.fa-display,
.fa-volume-high{
    padding-left: 0.5rem;
}


/* HOVER */

div.wrapper header span:hover,
div.wrapper header li:hover,
div.central-header li:hover,
.fa-heart:hover,
.fa-folder:hover{
    color: white;
}


section.call-to-action button:hover{
    width: 215px;
    text-align: center;
    font-size: medium;
}

footer.taskbar div.flex p:hover:not(.white){
    text-decoration: underline;
}


.p-relative{
    position: relative;

}

.overlay>i.fa-circle-play-main{
    background-color: rgba(128, 128, 128, 0.4);
    position: absolute;
    width: calc(100% - 0.5rem);
    height: 100%;
    font-size: 3rem;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

section.artisti-popolari .overlay>i.fa-circle-play-main{
    border-radius: 50%;
}

div.cover:hover i.fa-circle-play-main{
    display: flex;
}



/***************************************************************
    MEDIA Sm > min-width: 576px 
****************************************************************/

@media screen and (min-width: 576px) { 

    body div.wrapper header{
        width: 180px;
    }

    header div.display-none,
    body div.wrapper header{
        align-items: flex-start;

    }


    main{
        width: calc(100vw - 180px);
    }

    .flex-start{
        justify-content: flex-start;
    }
    .display-none-media{
        display: none;
    }

    .display-none{
        width: 100%;
        justify-content: start;
        align-items: center;
        display: flex;
        padding: 0.25rem;
    }

    .display-inline-media{
        display: flex;
        flex-direction: column;
        
    }
    
    .border-bottom{
        border-bottom: 1px solid rgb(126, 126, 126);
        margin: 0.5rem 0;
    }
   
    div.wrapper header *{
        margin: 0.3rem 0;
    }

    footer.taskbar{
        width: 100%; 
    }

    .border-left{
        border-left: 3px solid lime;
    }
 
    .border-transparent{
        border-left: 3px solid transparent;
    }

   
}




/***************************************************************
    MEDIA Md > min-width: 768px
****************************************************************/

@media screen and (min-width: 768px) { 

    .column-width, 
    .creato-per-column-width{
        width: calc(100% / 4);
    }

    section.recently-played div.wrapper,
    section.creato-per div.wrapper,
    section.artisti-popolari div.wrapper{
        justify-content: flex-start;
    }

    footer.taskbar{
        width: 100%; 
    }
}




/***************************************************************
    MEDIA Lg > min-width: 992 px 
****************************************************************/

@media screen and (min-width: 992px) { 
    
    .column-width,
    .creato-per-column-width{
        width: calc(100% / 6);
    }

    footer.taskbar{
        width: 100%; 
    }
    
}
