/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


/***************************************************************
    MOBILE XS <576px
****************************************************************/


/* HEADER */
body>header{
    width: 10%;
    height: 500px;
    border: 1px solid purple;
    position: fixed;
}


    /* CALL TO ACTION */

div.call-to-action{
    width: 100%;
    border: 1px solid purple;
    height: 100px;
}





/* MAIN */

    /* HEADER */



    /* 1 SECTION */



    /* 2 SECTION */



    /* 3 SECTION */




/* TASKBAR */

.taskbar{
    height: 100px;
    border: 1px solid purple;
}





/***************************************************************
    MEDIA Sm > min-width: 576px 
****************************************************************/

@media screen and (min-width: 576px) { 
    
}


/***************************************************************
    MEDIA Md > min-width: 768px
****************************************************************/

@media screen and (min-width: 768px) { 
    
}




/***************************************************************
    MEDIA Lg > min-width: 992 px 
****************************************************************/

@media screen and (min-width: 992px) { 
    
}
